<h3>Selected parts of cookie</h3>
<ul>

    <li>Base: {{cookie.base}} - {{pricify (findPrice bases cookie.base)}} PLN</li>

    {{#each cookie.addons}}
        <li>
            {{#if noDeleteButton}}
                <a href="/configurator/delete-addon/{{this}}" class="btn btn-small">Delete</a>
            {{/if}}
            Addon: {{this}}
            - {{pricify
                (findPrice @root.addons this)}} PLN
        </li>
        <!--    @root. trzeba dopisać jeśl nazwa w obiekcie jest taka sama dla właściwości jak i "podklucza" innej włąściwości.-->
    {{/each}}
</ul>

<p><strong>Total of {{pricify sum}} PLN</strong></p>
